{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "10.0"
          }
        }]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime"
        ],
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true
          }
        ],
        "add-module-exports"
      ]
    },
    "module": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "10.0"
          },
          "modules": false
        }]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime"
        ],
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true
          }
        ],
        "add-module-exports"
      ]
    },
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "10.0"
          },
          "modules": "auto"
        }]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime"
        ],
        [
          "@babel/plugin-proposal-class-properties",
          {
            "loose": true
          }
        ],
        "add-module-exports"
      ]
    }
  },
  "ignore": [],
  "sourceMaps": true,
  "retainLines": true,
  "comments": true
}
