# From: https://goreleaser.com/ci/actions/#usage
name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2.1.4
        with:
          go-version: 1.17
      - name: Setup Node
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Install all deps
        run: yarn install
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.7.0
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist --debug
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
